body {
	background-image: url(images/brush-stroke-diagonal.png);
	background-attachment: fixed;
	margin: auto;
}
main {
	background-color: rgba(255, 255, 255, .8);
	background-image: url(images/tomatoes.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 2rem;
	border: 30px solid #c4a92f;
}